.header {
  padding: 1.2rem;
  height: 5rem;
  font-weight: 500;
}
.userCard {
  padding-right: 4rem;
}
.avatar {
  border-radius: 50%;
  background-color: #ffe8df;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.8125rem;
}
.main {
  background-color: #f4f7fc;
}
