html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
}
@media (min-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
}
#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* BEGIN:: input,select,button global styles */

a {
  text-decoration: none;
}

input[type="text"],
input[type="number"],
select {
  font: 400 1.25rem "Inter", sans-serif;
  border: none;
  border-bottom: 1.5px solid #ced5db;
  padding: 0 0 8px 0;
  color: #00234b;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: 0;
  border-bottom: 1.5px solid #624de3;
}

input[type="text"]:focus ~ label {
  color: #624de3;
}

::placeholder {
  font: 400 1.25rem "Inter", sans-serif;
  color: #525f7f;
}

select {
  appearance: none;
  background-color: transparent;
  color: #525f7f;
  margin: 0;
  width: 100%;
  cursor: pointer;
  line-height: inherit;
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}

.select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #778ca3;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select::after {
  grid-area: select;
}

option:checked {
  color: #00234b;
}
button,
.linkBtn {
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.8rem;
  border-radius: 50px;
  line-height: 1rem;
  background-color: #624de3;
  color: #fff;
  box-shadow: 0px 6px 12px rgba(98, 77, 227, 0.3);
  font: 400 1rem "Inter", sans-serif;
  cursor: pointer;
  min-width: calc(12ch + 2rem);
}
@media (min-width: 600px) {
  button,
  .linkBtn {
    padding: 0.8rem 2rem;
  }
}
button:focus,
button:hover,
.linkBtn:focus,
.linkBtn:hover {
  background-color: #503cc9;
}

button:focus,
.linkBtn:focus {
  outline: 0;
  border-color: rgba(176, 166, 241, 0.4);
  box-shadow: 0 6px 12px rgba(21, 19, 81, 0.1);
}

.btnSec {
  background-color: #fff;
  color: #624de3;
  border-color: rgba(98, 77, 227, 0.3);
  box-shadow: none;
}

.btnSec:focus,
.btnSec:hover {
  color: #fff;
}
/* END:: input,select,button global styles */

/* BEGIN:: common classes for global use */
.h100 {
  height: 100%;
}

.flex {
  display: flex;
}

.inl-flex {
  display: inline-flex;
}

.just-ctr {
  justify-content: center;
}

.al-ctr {
  align-items: center;
}

.al-base {
  align-items: baseline;
}

.col {
  flex-direction: column;
}

.no-shrink {
  flex-shrink: 0;
}

.ml-auto {
  margin-left: auto;
}

.meta {
  color: #778ca3;
  font-size: 0.8125rem;
  font-weight: 400;
}
