.title {
  font-weight: 500;
  margin: 0;
  margin-right: 0.5rem;
}
.addBtn {
  margin-left: auto;
}
.addBtn > svg {
  margin-right: 0.5rem;
  flex-shrink: 0;
}
.addBtn > span {
  flex-shrink: 0;
}
.tableOvflw {
  overflow: auto;
  height: calc(100% - (2.875rem + 2rem)); /*2.875rem padding of main */
  margin-top: 2rem;
}
.table {
  border-collapse: separate;
  border-spacing: 0 1em;
  /* table-layout: fixed; */
  margin: 0 auto;
  width: 100%;
  padding-right: 1.5rem;
}

.thead th {
  text-align: left;
  font-weight: 400;
  padding: 0.75rem;
}
.thead th:first-child {
  padding-left: 1.625rem;
}
.tbody > tr {
  height: 7rem;
  box-shadow: 6px 6px 13.5px rgba(0, 0, 0, 0.05);
}
.tbody td {
  background-color: #fff;
  color: #525f7f;
  margin-bottom: 0.625rem;
  padding: 0.75rem;
}
.tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 1.625rem;
}
.tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-right: 1.625rem;
}

.name {
  font-weight: 500;
  font-size: 1.125rem;
  color: #00234b;
}

.name div {
  margin-top: 4px;
}

.sal {
  font-weight: 500;
}

.thead th,
.tbody td,
.name div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
